#camion {
	position: absolute;s
}

#enfant {
	height: 150px;
	width: auto;
	position: relative;
	margin-left: 65%;
	margin-top: 20%;
}

#blood {
	width: 100px;
	height: auto;
}


#camion {
	border: 1px solid black;
	
	
}

#enfant {
	border: 1px solid black;
}

#blood {
	border: 1px solid black;
}